__pycache__/
.coverage
.env
.git/
.gitignore
.pre-commit-config.yaml
.pytest_cache/
.Python
.ruff_cache/
.venv/
*.log
*.pyc
*.pyd
*.pyo
*.so
compose.yaml
config.yaml
example_configs/
README.md
renovate.json5
ruff.toml
venv/