[project]
name = "gliner-api"
version = "0.3.5"
description = "Easily configurable API & frontend providing simple access to dynamic NER models"
readme = "README.md"
requires-python = "==3.13.9"
dependencies = [
    "fastapi[standard]==0.128.0",
    "gitpython==3.1.46",
    "huggingface-hub==0.36.0",
    "prometheus-client==0.24.1",
    "pydantic-settings==2.12.0",
    "uvicorn[standard]==0.40.0",
]

[project.optional-dependencies]
cpu = [
    "torch==2.10.0",
    "gliner[stanza]==0.2.24",
    "onnxruntime==1.23.2",
]
gpu = [
    "torch==2.10.0",
    "gliner[stanza]==0.2.24",
    "onnxruntime-gpu==1.23.2",
]
frontend = [
    "gradio==6.4.0",
    "httpx==0.28.1",
    "stamina==25.2.0",
]

[tool.uv]
conflicts = [
    [
        { extra = "cpu" },
        { extra = "gpu" },
    ],
]

[tool.uv.sources]
torch = [
    { index = "pytorch-cpu", extra = "cpu" },
    { index = "pytorch-cu128", extra = "gpu" },
]

[[tool.uv.index]]
name     = "pytorch-cu128"
url      = "https://download.pytorch.org/whl/cu128"
explicit = true

[[tool.uv.index]]
name     = "pytorch-cpu"
url      = "https://download.pytorch.org/whl/cpu"
explicit = true

[dependency-groups]
dev = [
    "ipykernel==7.1.0",
    "pre-commit==4.5.1",
    "ruff==0.14.14",
    "ty==0.0.13",
]
